@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0 auto;
}
a img {
  width: 35px;
  height: 40px;
}
.xuit{
display: flex;
}
.Gift{
  display: flex;
  margin-top: 150px;
}
/* 
.btn{
  width: 140px;
height: 50px;
color: #1E959B;
} */